{% extends "base.html" %}

{% block script %}
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
{% endblock %}

{% block page_head %}
Start Round
{% endblock %}

{% block content %}

<div class="container">

  <div class="row">
    <div class="col-xs-12">
        <center>
        <form>
         <button class="btn btn-default btn-lg" type = "submit" formmethod = "post">How much do I drink?</button>
        </center>
        </form>
         <!--  <center> <button class="btn btn-default" type="submit">Submit</button> </center> -->
     </div>
   </div>

 </div>
 {% endblock %}